<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


    <![endif]-->

</head>

<body ng-controller="newController">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="" ng-click="gotoAbout()">About</a>
                </li>
                <li>
                    <a href="" ng-click="gotoRepos()">Repos</a>
                </li>
                <li>
                    <a href="" ng-click="gotoSingleRepo()">Single Repo</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Header -->

<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message" id="intro">
                    <h1>Github Overviewer <i class="fa fa-github"></i>
                    </h1>
                    <h3>Overview Github Acount with just a click</h3>
                    <hr class="intro-divider">
                    <form name="searchUser" ng-submit="search(username)">
                        <input type="search" placeholder="Search user" ng-model="username" />
                        <input type="submit" value="Search">
                        <h3>{{message}}</h3>
                    </form>

                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->
<div id="noContainer" ng-show="noContenDiv">
    <h2>No content available</h2>
</div>
<a id="about"></a>
<div class="content-section-a" ng-show="userDiv">
    <div class="container" style="height: 500px;">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">General Overview</h2>
                <ul id="overviewList">
                    <li>
                        <p>Username : {{user.login}} </p>
                    </li>
                    <li ng-bind-html="fullName"></li>
                    <li ng-bind-html="userLocation"></li>
                    <li ng-bind-html="userCompany"></li>
                    <li ng-bind-html="userEmail"></li>
                    <li>
                        <p>Account Created : {{user.created_at}}</p>
                    </li>
                    <li>
                        <p>Account Updated : {{user.updated_at}}</p>
                    </li>
                    <li>
                        <p>Public Repos : {{user.public_repos}}</p>
                    </li>
                    <li>
                        <p>Public Gists : {{user.public_gists}}</p>
                    </li>
                </ul>

            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" ng-src="{{user.avatar_url}}" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->
<a id="repos"></a>
<div class="content-section-b" ng-show="userDiv">

    <div class="container">

        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Repos</h2>
            <table class="table table-striped table-hover table-bordered" id="repoDetails">
                <thead>
                <tr>
                    <th>
                        <a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse">ID
                            <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>

                        </a>
                    </th>
                    <th><a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">Name
                        <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                    </a></th>
                    <th>Full Name</th>
                    <th>Private</th>
                    <th>Description</th>
                    <th>URL</th>
                    <th>Download</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="repo in repository | orderBy:sortType:sortReverse | filter : paginate">
                    <td>{{repo.id}}</td>
                    <td>{{repo.name}}</td>
                    <td>{{repo.full_name}}</td>
                    <td>{{repo.private}}</td>
                    <td>{{repo.description}}</td>
                    <td><a href="{{repo.html_url}}" target="_new">{{repo.html_url}}</a></td>
                    <td><a href="https://github.com/{{repo.owner.login}}/{{repo.name}}/archive/master.zip">Download</a></td>
                </tr>
                </tbody>
            </table>

            <pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm">
            </pagination>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->
<a id="singleRepo"></a>
<div class="content-section-a" ng-show="userDiv" style="height: auto;">

    <div class="container">

        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Single Repo Overview</h2>
        <select ng-model="selectRepo" ng-options="repo.name for repo in repository" ng-change="showRepo(selectRepo)">
            <option value="" disabled selected>Select repo</option>
        </select>
        <div id="repoOverview">
            <table class="table table-striped table-hover table-bordered" ng-show="repoOverview" align="center">
                <tr>
                    <th colspan="2">{{singleRepo.name}}</th>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>{{singleRepo.id}}</td>
                </tr>
                <tr>
                    <td>Owner</td>
                    <td>{{singleRepo.owner.login}}</td>
                </tr>
                <tr>
                    <td>Private</td>
                    <td>{{singleRepo.private}}</td>
                </tr>
                <tr>
                    <td>Language</td>
                    <td>{{singleRepo.language}}</td>
                </tr>
                <tr>
                    <td>Pushed At</td>
                    <td>{{singleRepo.pushed_at}}</td>
                </tr>
                <tr>
                    <td>SSH Url</td>
                    <td>{{singleRepo.ssh_url}}</td>
                </tr>
            </table>
        </div>
        <table class="table table-striped table-hover table-bordered" ng-show="commitDetails" id="commitTable">
            <tr>
                <th colspan="5">Commits in {{singleRepo.name}} Repo</th>
            </tr>
            <tr>
                <th>Author</th>
                <th>Message</th>
                <th>Sha</th>
                <th>Date</th>
                <th>Url</th>
            </tr>
            <tr ng-repeat="commit in commits">
                <td>{{commit.author.login}}</td>
                <td>{{commit.commit.message}}</td>
                <td>{{commit.sha}}</td>
                <td>{{commit.commit.author.date}}</td>
                <td>{{commit.url}}</td>
            </tr>
        </table>

        <table id="filesTable" align="center" ng-show="commitDetails">
            <tr>
                <th>Files in Repo {{singleRepo.name}}</th>
            </tr>
            <tr>
                <td>
                    <ul id="listFiles">
                        <li ng-bind-html="showFolders"></li>
                        <li ng-bind-html="showJoinedFiles" id="fileIcon"></li>
                    </ul>
                </td>
            </tr>
        </table>

    </div>
    <!-- /.container -->
</div>

<!-- /.content-section-a -->

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="" ng-click="gotoAbout()">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="" ng-click="gotoRepos()">Repos</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="" ng-click="gotoSingleRepo()">Single Repo</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-sanitize.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="js/controllers.js"></script>


</body>

</html>