<div id="page-wrapper" style="background: #2F4F4F;">
    <h1 class="page-header" style="color: #ffffff;">Admin Users
    </h1>
</div>
        <div class="alert alert-success" ng-show="showAlert" id="sucessOrFail">
          {{newUserResponse.message}}
        </div>

        <div id="showAdmins" ng-show="showAdmins">
           <div class="card card-block" ng-repeat="admin in showAdmins track by $index" style="float: left;margin: 30px; background: #fff;">
               <h3 class="card-title">{{admin}}</h3>
               <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
               <button class="btn btn-primary" ng-click="searchAdmins(admin)">See Profile</button>
    </div>
             <input type="submit" value="Add New Admin" class="btn btn-primary" ng-click="changeBox()"/>
    </div>

                    <div class="form-group" ng-show="showForm" id="createUser">
                        
                    
                    <input type="file" name="image" id="image">
                       

                    <label for="username">Username <span style="color:red;">*</span></label>
                    <input type="text" id="username" class="form-control" ng-model="admin.username" required/><br/>
              
                    <label for="password">Password <span style="color:red;">*</span></label>
                    <input type="text" id="password" class="form-control" ng-model="admin.password" required/><br/>
                
                    <label for="firstname">First name</label>
                    <input type="text" id="firstname" class="form-control" ng-model="admin.name"/><br/>
          
                    <label for="lastname">Last name</label>
                    <input type="text" id="lastname" class="form-control" ng-model="admin.lastname"/><br/>
                    
                    <label for="email">Email <span style="color:red;">*</span></label>
                    <input type="text" id="email" class="form-control" ng-model="admin.email" required/><br/>
              
                    <label for="datebirth">Date of birth</label>
                    <input type="text" id="datebirth" class="form-control" ng-model="admin.dateofbirth"/><br/>
                    
                    <label for="address">Address</label>
                    <input type="text" id="address" class="form-control" ng-model="admin.address"/><br/>
            
                    <label for="city">City</label>
                    <input type="text" id="city" class="form-control" ng-model="admin.city"/><br/>
             
                    <label for="state">State</label>
                    <input type="text" id="state" class="form-control" ng-model="admin.state"/><br/>
                 
                    <input type="submit" value="Submit" name="upload" class="btn btn-primary" ng-click="addAdmins()"/>
                 
        </div>
     <div class="alert alert-success" ng-show="showDeleteSucess">
    <strong>Success!</strong>{{deletedAdmin}}
    </div>
<div id="showUniqueAdmin" ng-show="showUniqueAdminBox">
    <table class="table" id="uniqueAdminTable">
        <tr>
            <th colspan="2"><h2>{{showUsername}}</h2></th>
        </tr>
        <tr>
            <td>Name </td>
            <td>{{showUniqueAdmin.name}} {{showUniqueAdmin.last_name}}</td>
        </tr>
         <tr>
            <td>Date of birth </td>
            <td>{{showUniqueAdmin.date_of_birth}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{showUniqueAdmin.email}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{showUniqueAdmin.adress}}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>{{showUniqueAdmin.city}}</td>
        </tr>
        <tr>
            <td>State</td>
            <td>{{showUniqueAdmin.state}}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Admin" ng-click="deleteAdmin(showUsername)"</td>
        </tr>
    </table>
</div>
       
