<html ng-app="loginApp">
<head>
    <title>Login</title>
    <link href="admin.css" type="text/css" rel="stylesheet">
</head>
 <body>
     <div id="form-main" ng-controller="loginController">
     <div id="form-div">
        <form class="form" id="form1" method="post" ng-submit="login()">

             <p class="name">
                 <input name="username" type="text" class="feedback-input" placeholder="Username" id="name" ng-model="userLogin.username" required/>
             </p>

             <p class="text">
                 <input name="text" type="password" class="feedback-input" id="password" placeholder="Password" ng-model="userLogin.password" required/>
             </p>

             <div class="submit">
                 <input type="submit" name="submit" value="SEND" id="button-blue"/>
                 <div class="ease"></div>
             </div>
         </form>
     </div>
    
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
     <script src="js/loginController.js"></script>
 </body>
</html>